#root {
  width: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 0;
}

::-webkit-scrollbar {
  width: 11px;
  height: 11px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #afafaf;
  border-radius: 50px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;
  padding: 5px;
}

.appContainer {
  display: flex;
  align-items: baseline;
  position: relative;
}

.img {
  width: 5rem;
  padding: 1rem;
}

.searchBar {
  width: 100%;
  padding: 10px;
  height: 7rem;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.searchBar>input {
  width: 35rem;
}

.buttonBackground {
  background-color: #0099C8 !important;
}

.filterStack {
  margin-left: 10px;
  border: rgb(204, 203, 203) 1px solid;
  border-radius: 5px;
  width: 20vw;
  position: relative;
  top: 10.4rem;
  margin-right: 10px;
}

.filterStack>* {
  padding: 10px;
}

.filterStackContainer {
  transition: left 0.5s;
}

.filterStackContainer.visible {
  left: 0;
}

.filterStackContainer.hidden {
  left: -100%;
}